# Server
PORT=5000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://ydqyyztjgnmmkoywcafz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXl5enRqZ25tbWtveXdjYWZ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDQ0MzY0NSwiZXhwIjoyMTA2MDE5NjQ1fQ.nDodgC-JLaDLr-UaIoMy4Pf5iq2IDIt_8B2HXWTTHh4

# Koneksi langsung Postgres (untuk pg Pool / raw query)
DATABASE_URL=postgresql://postgres.ydqyyztjgnmmkoywcafz:[2322272003aA@]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true

# JWT
JWT_ACCESS_SECRET=ganti_dengan_random_string_panjang
JWT_REFRESH_SECRET=ganti_dengan_random_string_panjang_beda
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d